name: Dependency Review for PR
on:
  pull_request:
    branches: [ main ]

permissions:
  contents: write
  pull-requests: write

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4
      - name: Setup Java
        uses: ./.github/actions/setup-java
      - name: Dependency submission
        uses: gradle/actions/dependency-submission@v4
      - name: Dependency review
        uses: actions/dependency-review-action@v4.5.0
        with:
          comment-summary-in-pr: true
          deny-licenses: ""
